# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# 忽略 bin 目录
bin/
#忽略日志文件
log/
# 忽略 obj 目录（可选）
obj/
# 忽略其他常见的临时文件
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs